@media print, (max-width: 1023px) {
 
    .first-section_title {
        font-size: 26px;
    }
    .first-section_img {
        width: 255px;
    }
    .first-section_img:before {
        width: 93px;
        height: 93px;
        background-size: cover;
        top: -12px;
        right: -14px;
    }
    .first-section_info {
        width: calc(100% - 320px);
        margin-top: 26px;
    }
    .first-section_items {
        margin-bottom: 65px;
        margin-top: 50px;
    }
    .first-section_items {
        justify-content: space-between;
    }
    .first-section_items > * {
        width: calc(100% / 2 - 10px);
    }
    .first-section_info-text {
        font-size: 18px;
    }
    .first-section_info-title {
        margin-bottom: 35px;
    }
    .block {
        padding: 60px 0;
    }
    .title {
        font-size: 30px;
        margin: 0 auto 36px;
    }
    .about ul {
        column-gap: 20px;
        row-gap: 20px;
    }
    .about ul > * {
        width: calc(100% / 2 - 10px);
    }
    .denial_text {
        margin-bottom: 30px;
    }
    .price_items {
        column-gap: 20px;
        row-gap: 20px;
    }
    .price_items > * {
        width: 100%;
    }
    .need_img {
        width: 100%;
        height: auto;
    }
    .footer_info {
        position: relative;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 0;
        gap: 30px;
    }
    .footer_info > * {
        width: calc(100%/2 - 15px);
    }
    .footer_wrap {
        flex-direction: column;
    }
    .footer_text-big {
        display: none;
    }
    .footer_soc {
        margin-bottom: 0;
    }
    .footer_items {
        width: 100%;
        row-gap: 40px;
        margin-bottom: 47px;
    }
    .footer_items > *,
    .footer_item:last-child {
        width: calc(100%/2 - 10px);
    }
    .footer_item-copy {
        margin-top: 0;
    }
    footer {
        padding: 52px 0 62px;
        min-height: 100%;
        margin-top: 60px;
    }
    .footer_text-small {
        max-width: 258px;
    }
  


    
}
