@media print, (max-width: 767px) {


    .header_contact {
        flex-direction: column;
        gap: 19px;
        align-items: flex-end;
    }
    header {
        padding: 7px 0 20px;
    }
    .header_wrap {
        align-items: flex-start;
    }
    .cont {
        padding: 0 10px;
    }
    .need ul > * {
        width: 100%;        
    }
    .need ul {
        row-gap: 20px;
    }
    .need_title {
        margin-bottom: 20px;
    }
    .need_text {
        margin-bottom: 30px;
    }
    .book_box {
        padding: 60px 20px;
    }
    .book_img {
        width: 263px;
        height: 377px;
        margin: 0 auto;
    }
    .book_text-big {
        margin-bottom: 30px;
    }
    .book_wrap  {
        gap: 30px;
        flex-direction: column;
    }
    .book_info {
        width: 100%;
    }
    .volume_items {
        column-gap: 20px;
        row-gap: 30px;
        flex-wrap: wrap;
    }
    .volume_items > * {
        width: calc(100% / 2 - 10px);
    }
    .header_logo {
        font-size: 14px;
    }
    .header_logo span {
        max-width: 108px;
    }
    .header_callback {
        font-size: 14px;
    }
    .header_contact {
        gap: 5px;
    }
    .header_phone {
        font-size: 14px;
    }
    .first-section_title {
        font-size: 20px;
    }
    .first-section {
        padding-top: 20px;
    }
    .first-section_wrap {
        flex-direction: column;
    }
    .first-section_img {
        margin: 0 auto;
        width: 290px;
        height: 415px;
    }
    .first-section_info-title {
        font-size:45px;
    }
    .first-section_info-title span {
        font-size: 30px;
    }
    .first-section_info {
        width: 100%;
    }
    .first-section_info-title {
        margin-bottom: 14px;
    }
    .first-section_info-text {
        font-size: 16px;
    }
    .first-section_info-btns {
        align-items: center;
    }
    .first-section_items {
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .first-section_items > * {
        font-size: 12px;
    }
    .first-section_bottom {
        font-size: 10px;
        padding: 12px 0 8px;
    }
    .first-section_info {
        margin-top: -20px;
    }
    .about ul > * {
        width: 100%;
    }
    .about ul {
        gap: 10px;
    }
    .appeal_video {
        width: 100%;
        height: auto;
        margin: 0 auto 30px;
    }
    .swiper-slide {
        width: 100%;
    }
    .reviews_wrap {
        max-width: calc(100% - 160px);
    }
    .volume_item-img {
        width: 100%;
        height: auto;
    }
    .faq .accordion_item-head {
        padding: 13px 20px 13px 20px;
    }
    .faq .accordion_item-data {
        padding: 10px 20px 20px 20px;
    }
    .swiper-button-next:hover, 
    .swiper-button-prev:hover {
        background: none;
    }






}
