@media print, (max-width: 1187px) {


    .first-section_info-title {
        font-size: 58px;
    }
    .first-section_info-title span {
        font-size: 35px;
    }
    .first-section_img {
        margin-left: 0;
    }



}
