/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 88px;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: local('../fonts/Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
        url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Heavy.eot');
    src: local('../fonts/Gilroy Heavy'), local('Gilroy-Heavy'),
        url('../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Heavy.woff') format('woff'),
        url('../fonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: local('../fonts/Gilroy SemiBold'), local('Gilroy-SemiBold'),
        url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff'),
        url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.eot');
    src: local('../fonts/Gilroy Light'), local('Gilroy-Light'),
        url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('../fonts/Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('../fonts/Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-UltraLight.eot');
    src: local('../fonts/Gilroy UltraLight'), local('Gilroy-UltraLight'),
        url('../fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-UltraLight.woff') format('woff'),
        url('../fonts/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('../fonts/Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Thin.eot');
    src: local('../fonts/Gilroy Thin'), local('Gilroy-Thin'),
        url('../fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Thin.woff') format('woff'),
        url('../fonts/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.eot');
    src: local('../fonts/Gilroy Black'), local('Gilroy-Black'),
        url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Black.woff') format('woff'),
        url('../fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}




/*-------------------
    Global styles
-------------------*/
:root {
    --scroll_width: 17px;
    --text_color: #17100E;
    --font_size: 17px;
    --font_size_title: 52px;
    --font_family1: 'Geometria', sans-serif;
    --font_family2: "Montserrat", serif;
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


body {
    color: var(--text_color);
    font-family: var(--font_family1);
    font-size: var(--font_size);
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
    background: #f7f7f7;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 320px;
    min-height: 100%;
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

img {
    display: block;
}


.overlay {
    position: fixed;
    z-index: 1;
    top: 144px;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .3;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}
body.menu_open {
    overflow: hidden;
}




/*------------
    Header
------------*/

header {
    padding: 14px 0 13px;
    background: #333;
}
.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.32;
    color: #F8F8F8;
    text-decoration: none;
}
.header_contact {
    display: flex;
    align-items: center;
    gap: 72px;
}
.header_callback {
    display: flex;
    align-items: center;
    gap: 13px;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #F8F8F8;
    text-decoration: none;
}
.header_phone {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #F8F8F8;
    text-decoration: none;
}






.block {
    padding: 80px 0;
}


.first-section {
    padding: 50px 0px 0px;
    background: url(../images/first-section-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.title {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.222;
    text-align: center;
    color: #000000;
    margin: 0 auto 45px;
}
.first-section_wrap {
    display: flex;
    justify-content: space-between;
}
.first-section_img {
    width: 377px;
    height: auto;
    margin-left: 104px;
    position: relative;
}
.first-section_img img {
    width: 100%;
}
.first-section_img:before {
    position: absolute;
    content: "";
    width: 142px;
    height: 142px;
    top: 0;
    right: -53px;
    background: url(../images/label.png);
}
.first-section_info {
    width: calc(100% - 600px);
    margin-top: 59px;
}
.first-section_info-title {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 70px;
    line-height: 96%;
    color: #333333;  
    margin-bottom: 46px;
}
.first-section_info-title span {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    color: #333333;  
}
.first-section_info-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: #333333;
    margin-bottom: 40px;
    max-width: 440px;
}
.first-section_info-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn-orange {
    width: 290px;
    height: 65px;
    background: #E95D1F;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.btn-white {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E95D1F;
    border-radius: 10px;
    width: 290px;
    height: 65px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #E95D1F;
    text-decoration: none;
}
.first-section_items {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 36px;
}
.first-section_items > * {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #333333;
    width: calc(100%/2 - 235px);
}
.first-section_bottom {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: #333333;
    padding: 20px 0;
    text-align: center;
    position: relative;
    z-index: 10;
}
.first-section_bottom:before {
    position: absolute;
    content: "";
    width: 3500px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background: #ECF1F2;
    z-index: -5;
}




.about ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 50px;
    counter-reset: section;
}
.about ul > * {
    width: calc(100%/3 - 27px);
    padding-left: 55px;
    position: relative;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333333;
}
.about ul li::before {
    counter-increment: section;
    content: counter(section) "";
    position: absolute;
    background: #E95D1F;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 4px;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}



.appeal_video {
    width: 619px;
    height: 329px;
    margin: 0 auto 45px;
}
.appeal_video img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}
.appeal .btn-orange {
    margin: 0 auto;
}




.contents .cont {
    max-width: 800px;
}
.accordion_item-data {
    display: none;
}
.accordion_item-head {
    padding: 1px 25px 1px 37px;
    background: #383838;  
    display: flex;
    align-items: center;
    justify-content: space-between; 
    cursor: pointer;
}
.accordion_item-title {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
.accordion_item-title b {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    text-align: center;
    color: #FF4F25;
    display: block;
    margin-right: 20px;
}
.accordion_item-title span {
    text-transform: none;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 12px;
    line-height: 7px;
    text-align: center;
    color: #FF4F25;
    word-break: break-all;
    width: 0;
    display: block;
    margin-right: 45px;
}
.accordion_item-data {
    background: #383838;
    padding: 10px 22px 50px 46px;
}
.accordion_item + .accordion_item {
    margin-top: 20px;
}
.accordion_item-data ul {
    list-style: none;
    counter-reset: section2;
}
.accordion_item-data ul li {
    position: relative;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 15px;
    padding-bottom: 8px;
    padding-top: 14px;
    border-bottom: 1px solid #494949;    
}
.accordion_item-data ul li::before {
    counter-increment: section2;
    content: "Тема " counter(section2) ": ";
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FF4F25;
}
.accordion_item .accordion_item-icon-plus {
    display: block;
}
.accordion_item.active .accordion_item-icon-plus {
    display: none;
}
.accordion_item .accordion_item-icon-minus {
    display: none;
}
.accordion_item.active .accordion_item-icon-minus {
    display: block;
}
.contents_btns {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 45px;
}



.need {
    background: #ECF1F2;
}
.need_title {
    margin-bottom: 25px;
}
.need_text {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #333333;
    margin-bottom: 45px;
}
.need ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 15px;
}
.need ul > * {
    width: calc(100%/2 - 20px);
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333333;
    display: flex;
    align-items: center;
    gap: 20px;
}
.need ul li b {
    display: block;
    position: relative;
    z-index: 2;
    width: 35px;
    height: 35px;    
    border-radius: 50%;
    background: #E95D1F;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.need ul li b:before {
    z-index: 1;
    position: absolute;
    content: "";
    width: 18px;
    height: 14px;
    background-image: url(../images/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 10px rgba(204, 204, 204, 0.25);
}
.need ul li a {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #000000;
    white-space: nowrap;
}
.need ul li i {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    white-space: nowrap;
}




.denial_title {
    margin-bottom: 25px;
}
.denial_text {
    text-align: center;
    margin-bottom: 45px;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #333333;
}
.denial_wrap {
    max-width: 657px;
    margin: 0 auto;
}
.denial .btn-orange {
    margin: 0 auto;
}




.price_items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
}
.price_items > * {
    width: calc(100%/2 - 30px);
    background: url(../images/price_bg.png);
    /* mix-blend-mode: soft-light; */
    border-radius: 32px;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    padding: 22px 41px;
}
.price_bottom {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    margin-top: 40px;
}
.price_bottom b {
    font-weight: 700;
}
.price_bottom span {
    font-weight: 700;
    font-size: 20px;
}




.reviews_wrap {
    max-width: 500px;
    margin: 0 auto;
}
.swiper-slide img {
    width: 100%;
}
.swiper-button-next, 
.swiper-button-prev {
    width: 46px;
    height: 46px;
    transition: background .2s linear;
    color: #fff;
    border: none;
    background: #ECF1F2;
}
.swiper-button-prev {
    left: -50px;
}
.swiper-button-next {
    right: -50px;
}
.swiper {
    overflow: visible !important;
}
.swiper-slide.visible {
    display: flex;
    visibility: visible;
    height: auto;
    pointer-events: auto;
    opacity: 1;
    align-items: center;
    justify-content: center;
}
.swiper-slide.active {
    display: flex;
    visibility: visible;
    height: auto;
    pointer-events: auto;
    opacity: 1;
    align-items: center;
    justify-content: center;
}
.swiper-slide {
    position: relative;
    display: flex;
    visibility: hidden;
    width: auto;
    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
}




.book .cont {
    max-width: 800px;
}
.book_title {
    max-width: 555px;
}
.book_wrap {
    display: flex;
    gap: 70px;
    padding-bottom: 45px;
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
}
.book_img {
    width: 280px;
    height: 400px;
    flex-shrink: 0;
}
.book_img img {
    width: 100%;
    height: 100%;
}
.book_info {
    width: calc(100% - 350px);
}
.book_text-big {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #333333;
    margin-bottom: 45px;
}
.book_text-average {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333333;
    margin-bottom: 35px;
}
.book_text-small {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #333333;
    margin-top: 30px;
}
.book_bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.book_bottom-info {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #333333;
}
.book_bottom-info p + p {
    margin-top: 10px;
}
.book_bottom-info a {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
    text-decoration: none;
}